$bgColorOpacity: rgba(215, 152, 40, 0.03);
$bgColor: rgb(253, 251, 248);
$bgFooter: #d6b4a0;

* {
  transition: all .3s ease;
}

body {
  background: $bgColor;
  padding-top: 100vh;
}
header {
  position: relative;
  z-index: 10;
  /* padding: 10px 0px; */
  text-align: center;

  .makeStyles-headerBg-3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
img {
  max-width: 100%;
}

main {
  position: relative;
  z-index: 9;
  background: $bgColor;

  .section-main {
    // margin-top: -100px;
  }

  .MuiGrid {
    &-item {
      margin: 0 auto;
    }
  }

  .MuiPaper {
    &-root {
      min-height: 100vh;
      margin-bottom: 30px;
    }
  }
}

footer {
  height: 100px;
  background: $bgFooter;
}

.slider {
  // display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.MuiAppBar-root {
  &.initial-scroll {
    background: transparent;
    box-shadow: none;

    img {
      filter: grayscale(100%) brightness(200%);
    }

    .menu-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    a,
    .MuiButton-textPrimary {
      color: #fff;
      border-color: #fff;
      border: none;
    }
  }
}
